@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: grid;
    height: 100%;
    place-items: center;
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;
}

.container {
    background-color: #9996e921;
    z-index: 0;
}

.container:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10px;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #05162ca9 40%, #04203ac9 70%);
    border-radius: 50%;
    z-index: 0;
}

#logo {
    height: 200px;
    width: 200px;
    position: absolute;
    left: 1030px;
    top: -10px;
    z-index: 2;
}

.title {
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px #94661c;
    font-size: 35px;
    font-weight: 600;
    line-height: 100px;
    border-radius: 15p 15px 0px 0px;
    background: rgba(238, 145, 22, 0.836);
    border-radius: 30px 0px;
}

form {
    padding: 10px 30px 50px 30px;
}

form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

form .field input {
    height: 100%;
    width: 100%;
    padding-left: 40px;
    border-radius: 30px;
    outline: none;
    border: 1px solid lightgrey;
}

form .field input:focus {
    border-color: #4158d0;
}

form .field label {
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 17px;
    color: #999;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3s ease;
    padding-left: 18px;
    padding-right: 5px;
}

form .field label span {
    color: black;
    position: relative;
    left: 5px;
    top: 0;
}

form #type {
    position: relative;
    right: 30px;
}

form .field input:focus~label,
form .field input:valid~label {
    top: 0%;
    color: #4158d0;
    font-size: 16px;
    background: #fff;
    transform: translateY(-50%);
}

form .icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: grey;
}

form .field input[type="radio"] {
    width: 19px;
    height: 19px;
    position: relative;
    left: 160px;
    top: 13px;
    margin: 3px;
}

form .field span {
    position: relative;
    left: 160px;
    top: 10px;
}

form .field input[type="submit"] {
    color: #fff;
    background: rgba(238, 145, 22, 0.836);
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px #94661c;
    border: none;
    padding-left: 0px;
    cursor: pointer;
    transition: all 0.3s ease;
}

form .field input[type="submit"]:active {
    transform: scale(0.95);
}

form .pass-link {
    color: #4158d0;
    margin: 8px 0 0 10px;
}

form .signup-link {
    text-align: center;
    color: #262626;
    margin-top: 20px;
}

form .pass-link a,
form .signup-link a {
    color: #4158d0;
    text-decoration: none;
}

form .pass-link a:hover,
form .signup-link a:hover {
    text-decoration: underline;
}

form .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px 5px;
    padding: 10px 10px;
}

form .iconify {
    font-size: 25px;
    position: relative;
    top: 9px;
    left: 30px;
}

form .iconify:hover,
form .iconify:focus {
    font-size: 30px;
    transition: font-size .3s ease-out;
}

form .fa-linkedin {
    font-size: 36px;
    position: relative;
    left: -30px;
}

form .fa-linkedin:hover,
form .fa-linkedin:focus {
    font-size: 38px;
    transition: .3s ease-out;
}

.option_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 5px;
}

.option_div .check_box {
    position: relative;
    top: 10px;
}

.option_div span {
    position: relative;
    top: -2px;
}

.images {
    display: flex;
    flex-direction: row;
}

.images #login {
    position: absolute;
    left: 220PX;
    top: 280px;
    height: 350px;
}

.message {
    width: 30%;
    position: relative;
    top: 120px;
    left: 100px;
}

.message h2 {
    color: #F9A826;
    text-shadow: 2px 2px 2px #363534;
    font-size: 60px;
    position: relative;
    top: -17px;
}

.message .content {
    color: #fff;
    font-size: 28px;
    z-index: 1;
}

.form-container {
    width: 500px;
    background: #fff;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    position: relative;
    left: 880px;
    top: -280px
}

@media screen and (min-width:576px) and (max-width:1024px) {
    html,
    body {
        display: inline;
        height: 100%;
        width: 100%;
        place-items: center;
        font-family: 'Josefin Sans', sans-serif;
        overflow: hidden;
    }
    .container {
        background-color: #9996e921;
        z-index: 0;
        height: 130%;
        width: 126%;
        overflow: hidden;
    }
    .container:before {
        content: "";
        position: absolute;
        height: 3100px;
        width: 3500px;
        top: -10px;
        right: 28%;
        transform: translateY(-50%);
        background-image: linear-gradient(-45deg, #05162ca9 40%, #04203ac9 70%);
        border-radius: 50%;
        z-index: 0;
    }
    .images #login {
        position: absolute;
        left: 150PX;
        top: 490px;
        height: 350px;
    }
    #logo {
        height: 200px;
        width: 200px;
        position: absolute;
        left: 910px;
        top: 90px;
        z-index: 2;
    }
    .form-container {
        width: 500px;
        background: #fff;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        position: relative;
        left: 720px;
        top: -380px;
    }
    .message .content {
        line-height: 35px;
        margin-top: 20px;
    }
}