@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #fcfcfc;
    font-family: 'Josefin Sans', sans-serif;
}

.logo {
    background-color: #F9A826;
    height: 80px;
}

.logo img {
    height: 160px;
    border-radius: 40px 0px 40px 0px;
}

.navbar {
    overflow: hidden;
    background-color: #F9A826;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}

.navbar a {
    padding: 10px;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 550;
    height: 100%;
    text-shadow: 2px 2px 0px #94661c;
}

.navbar .items .active {
    background-color: white;
    color: #F9A826;
    border-radius: 5px;
    text-shadow: 2px 0px 0px #94661c;
}

.navbar a:hover {
    background-color: white;
    color: #F9A826;
    border-radius: 5px;
    text-shadow: 2px 0px 0px #94661c;
}

.menu-links {
    width: 150px;
    height: 100px;
    position: absolute;
    left: 1360px;
    line-height: 30px;
    margin-top: 7px;
    background-color: rgba(251, 253, 255, 0.952);
    border-radius: 5px;
    box-shadow: 0 15px 20px rgba(0, 0.2, 0, 0.2);
}

.menu-links ul li a {
    color: #04203ac9;
    text-decoration: none;
    padding-left: 15px;
}

.content {
    padding: 16px;
    font-size: 25px;
    margin: 30px;
    line-height: 40px;
    z-index: 3;
}

.content div {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 15px 15px;
}

.content .search-domain .search-bar {
    display: flex;
    flex-direction: row;
}

.content .search-domain .search-bar input {
    width: 80%;
    height: 50px;
    margin-left: 120px;
    border-radius: 30px;
    border: 2px solid blanchedalmond;
    padding-left: 30px;
    font-size: 20px;
}

.content .search-domain .search-bar button{
    color: #04203ac9;
    height: min-content;
    position: relative;
    left: -50px;
    top: 7px;
    font-size: 1.2em;
    border: none;
    background-color: white;
}
.content .search-domain .search-bar button:hover{
	cursor:pointer;
}
.content .search-domain .domains {
    margin-bottom: 20px;
    box-shadow: 0 15px 20px rgba(0, 0.2, 0, 0.2);
}

.content .search-domain .domains h3 {
    text-align: center;
    padding-top: 15px;
    color: #0c3052f5;
}

.content .search-domain .domains ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: 15px;
    margin-top: 20px;
    line-height: 50px;
}

.content .search-domain .domains ul li:nth-child(odd) {
    margin-left: 20px;
    margin-bottom: 40px;
    width: 250px;
    height: 180;
    border-radius: 0 20px 0 20px;
    background-color: #F9A826;
    padding: 15px;
     flex: 200px;
}

.content .search-domain .domains ul li:nth-child(even) {
    margin-left: 20px;
    margin-bottom: 40px;
    width: 250px;
    height: 180;
    background-color: #0c3052f5;
    border-radius: 20px 0 20px 0;
    color: blanchedalmond;
    padding: 15px;
     flex: 200px;
}

.content .search-domain .domains ul li a {
    text-decoration: none;
    color: white;
}

.content .trending-careers {
    margin-bottom: 20px;
    box-shadow: 0 15px 20px rgba(0, 0.2, 0, 0.2);
}

.content .trending-careers h3 {
    text-align: center;
    padding-top: 15px;
    color: #0c3052f5;
}

.content .trending-careers ul {
    list-style-type: none;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 50px;
}

.content .trending-careers ul li a {
    text-decoration: none;
    color: #F9A826;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

.sticky+.menu-links {
    position: fixed;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(0deg, #05162cf8 2%, #04203afa 100%);
    color: white;
    text-align: center;
    line-height: 35px;
    padding-top: 20px;
}

.footer ol {
    list-style-type: none;
}

.footer ol li {
    display: inline-block;
    margin: 0 50px;
}

.footer .iconify {
    font-size: 25px;
}

.footer .iconify:hover {
    font-size: 30px;
    transition: .3s ease-out;
}

.footer .fa-linkedin {
    font-size: 36px;
    color: blue;
}

.footer .fa-twitter {
    font-size: 36px;
    color: rgb(0, 183, 255);
}

.footer ol li a i:hover {
    font-size: 40px;
    transition: .3s ease-out;
}